body {
	background-color: #eee;
	font-family: Arial, Helvetica;
	font-size: 14px;
	text-align: center;
}

button {
	border-radius: 5px;
	background-color: #4683f2;
	color: white;
	padding: 5px 10px;
}

img {
	width: 300px;
	height: auto;
}
