@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Open+Sans:400,600,700&display=swap");
* {
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  margin: 0;
  background-color: #1445b3;
  font-family: 'Montserrat', sans-serif; }

nav {
  background-color: #FFF;
  padding: 20px 100px;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3; }
  nav .nav-img-ada img {
    margin: 7px 0px;
    padding-left: 15x;
    max-height: 26px; }
    nav .nav-img-ada img .nav-img-ada-logo {
      max-width: 100%;
      height: auto;
      cursor: pointer; }
  nav .hamburguer {
    display: none; }
  nav .nav-menu-pc {
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: 0.5s; }
    nav .nav-menu-pc a {
      color: #004289;
      font-family: "Montserrat", sans-serif;
      font-size: 14px;
      font-weight: 500;
      text-decoration: none;
      padding: 10px 15px;
      transition: 0.3s; }
      nav .nav-menu-pc a i {
        padding-left: 10px; }
      nav .nav-menu-pc a .dropdown {
        margin: 0;
        background-color: #FFF;
        width: 150px;
        height: auto;
        display: none;
        position: absolute;
        top: 50px;
        padding: 10px 0;
        box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
        transition: ease all 0.5s; }
        nav .nav-menu-pc a .dropdown ul {
          list-style: none;
          margin: 0;
          padding-left: 20px; }
          nav .nav-menu-pc a .dropdown ul li {
            padding: 10px 10px 10px 0px;
            font-size: 13px;
            color: #004289; }
            nav .nav-menu-pc a .dropdown ul li i {
              padding-left: 10px; }
            nav .nav-menu-pc a .dropdown ul li ul {
              position: absolute;
              left: 150px;
              display: none;
              margin: 0;
              background-color: #FFF;
              width: 165px;
              padding: 10px 0px 10px 20px;
              height: auto;
              position: absolute;
              top: 50px;
              box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
              transition: ease all 0.5s; }
              nav .nav-menu-pc a .dropdown ul li ul li {
                position: relative;
                padding: 10px 10px 10px 0px; }
          nav .nav-menu-pc a .dropdown ul li:hover {
            color: #007BFF; }
          nav .nav-menu-pc a .dropdown ul .submenu:hover ul {
            display: block; }
    nav .nav-menu-pc a:hover {
      color: #007BFF; }
    nav .nav-menu-pc .dr:hover .dropdown {
      display: block; }

@media (max-width: 960px) {
  nav {
    height: 60px;
    padding: 10px 20px; }
    nav .hamburguer {
      display: block;
      padding: 10px 20px; }
    nav .nav-menu-pc {
      display: none; } }

@media (max-width: 768px) {
  nav {
    width: 100%; } }

#menu {
  background-color: rgba(17, 19, 20, 0.8);
  color: #FFF;
  width: 350px;
  height: 100%;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: -350px;
  transition: all 0.5s;
  z-index: 4; }
  #menu .mobile-menu ul {
    padding-left: 20px; }
    #menu .mobile-menu ul li {
      list-style: none;
      padding-bottom: 10px;
      font-weight: 600; }
      #menu .mobile-menu ul li a {
        text-decoration: none;
        color: #FFF; }
  #menu .close .fas.fa-times {
    position: absolute;
    top: 20px;
    left: 300px;
    display: none;
    color: #FFF; }

#menu:target {
  left: 0px; }
  #menu:target .hamburguer {
    display: none; }
  #menu:target .close a {
    padding-left: 10px; }
    #menu:target .close a .fas.fa-times {
      display: block; }


#section-8-our-clients {
  background-color: #ECF5FF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 60px; }
  #section-8-our-clients h3 {
    color: #283D50;
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: 500; }
  #section-8-our-clients p {
    color: #556877;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    width: 50%;
    text-align: center;
    padding-bottom: 60px; }
  #section-8-our-clients .section-8-our-clients-container-box {
    border-top: 1px solid #d6eaff;
    border-left: 1px solid #d6eaff;
    margin: 10px 10px 30px 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box; }
    #section-8-our-clients .section-8-our-clients-container-box .section-8-our-clients-cards {
      background-color: #FFF;
      height: 160px;
      width: 25%;
      padding: 64px;
      border-right: 1px solid #d6eaff;
      border-bottom: 1px solid #d6eaff;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden; }
      #section-8-our-clients .section-8-our-clients-container-box .section-8-our-clients-cards img {
        transition: all 0.4s ease-in-out;
        width: 100%;
        height: auto;
        box-sizing: border-box; }
      #section-8-our-clients .section-8-our-clients-container-box .section-8-our-clients-cards img:hover {
        transform: scale(1.25); }

@media (max-width: 960px) {
  #section-8-our-clients .section-8-our-clients-container-box .section-8-our-clients-cards {
    width: 33%; } }

@media (max-width: 760px) {
  #section-8-our-clients .section-8-our-clients-container-box {
    flex-direction: column; }
    #section-8-our-clients .section-8-our-clients-container-box .section-8-our-clients-cards {
      width: 100%; } }

