body{
    color:white;
}

nav{
    background-color:darkmagenta;
    height:75px;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

nav div{
    margin:20px;
}

.menu{
    display:flex;
}

.menu div:hover{
    background-color:gray;
    font-weight: bold;
}

nav img{
    width:65px;
    height:auto;
}

@media (max-width:600px){
    nav {
        background-color: palegoldenrod;
    }
}