.button-container{
    height:300px;
    width: 300px;
    background-color:gray;
    display:flex;
    justify-content: center;
    align-items: center;
}

.button{
    background-color: purple;
    box-shadow: 5px 5px 0 0 white;
    color: #fff;
    transition: all 0.5s;
    padding: 15px;
}

.button:hover{
    transform: translate(10px, 10px);
    background-color: white;
    color: purple;
    box-shadow: -5px -5px 0 0 purple;
}
